#user{
    margin-left: 10px;
    
}
.navbar-text{
    color: grey;
}
body{
    background-color: #f7f7f7;
}
#filaSlider{
    margin-top: 70px;
}
#filaCategoria{
    margin-top: 100px;
}
.table{
    align-items: center;
}
